
    <section class="introduction d-flex justify-content-center align-items-center bg-primary"> <!-- 只在尚未登入時顯示 -->
      <div class="introductionBanner">
        <div class="container text-center">
              <h1>Buy and sell cryptocurrency</h1>
              <p>Maibee is the easiest place to buy, sell, and manage your cryptocurrency portfolio.</p>
              <h3>Join new and get 10 Honey Coin!</h2>
            <div class="create_account d-flex justify-content-center h-50">
              <div class="input-group col-6">
                <input type="text" class="form-control" placeholder="email">
                <div class="input-group-append">
                  <button class="btn btn-success" type="button">Join</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>

    <section class="coin_list container-fluid bg-light">
      <div class="row">
        <div class="col-lg-8 mx-auto price shadow">
          <h1>Current Prices</h1>
          <%= render 'shared/coin_list', currencies: @currencies %>
        </div>
      </div>
    </section>
    <div class="cointainer-fluid pt-5">
      <%= render 'invite_friend/invite' %>
    </div>

