<!-- 之後放到別的地方 -->
    <style>     
      .introduction{
        height: 60vh;
        color: white;
        line-height: 4;
      }
      .create_account{
        line-height: 0;
      }
      .price{
        position: relative;
        top: -50px;
        border-radius: 5px;
        background-color: #fff;
      }
    </style>

    <section class="introduction d-flex justify-content-center align-items-center bg-primary"> <!-- 只在尚未登入時顯示 -->
      <div class="introductionBanner">
        <div class="container text-center">
              <h1>Buy and sell cryptocurrency</h1>
              <p>Maibee is the easiest place to buy, sell, and manage your cryptocurrency portfolio.</p>
            <div class="create_account d-flex justify-content-center h-50">
              <input type="text" class="w-10">
              <a href="#" class="btn btn-success">Create account</a>
            </div>
        </div>
      </div>
    </section>

    <section class="position-relative container d-flex justify-content-center align-items-center">
     <div class="price">
       <h1>Current prices</h1>
       <table>
         <tr>
           <th>Name</th>
           <th>Price</th>
           <th>Change</th>
           <th>Chart</th>
           <th>Trade</th>
         </tr>
         <tr>
           <td>Bitcoin</td>
           <td>219470NTD</td>
           <td>-1.96%</td>
           <td>起伏圖</td>
           <td>Buy</td>
         </tr>
       </table>
     
     
     </div>
    </section>
    <section class="event ">
      <div class="launch_special container text-xl-center">
        <h1>Maibee launch special</h1>
        <h2>Register now and get 20 Honey Coin for free</h2>
        <p>New member who is registered before 2020 May will get 10 Honey Coin.</p>
        <p>New member who made a first transaction will receive another 10 Honey Coin!</p>
      </div>
      <div class="create_account container text-xl-center">
        <h2>Join new to get upto 20 Honey Coin!</h2>
        <a href="#">Create account</a>
        <a href="#">Sign in</a>
      </div>
    </section>
