    <section class="interduction"> <!-- 只在尚未登入時顯示 -->
      <div class="interductionBanner">
        <h1>Buy and sell cryptocurrency</h1>
        <p>Maibee is the easiest place to buy, sell, and manage your cryptocurrency portfolio.</p>
      </div>
      <div class="create_account">
        <a href="#">Create account</a>
        <a href="#">Sign in</a>
      </div>
    </section>
    <section>
     <div class="prices">
       <h1>Current prices</h1>
       <table>
         <tr>
           <th>Name</th>
           <th>Price</th>
           <th>Change</th>
           <th>Chart</th>
           <th>Trade</th>
         </tr>
         <tr>
           <td>Bitcoin</td>
           <td>219470NTD</td>
           <td>-1.96%</td>
           <td>起伏圖</td>
           <td>Buy</td>
         </tr>
       </table>
     
     
     </div>
    </section>
    <section class="event">
      <div class="launch_special">
        <h1>Maibee launch special</h1>
        <h2>Register now and get 20 Honey Coin for free</h2>
        <p>New member who is registered before 2020 May will get 10 Honey Coin.</p>
        <p>New member who made a first transaction will receive another 10 Honey Coin!</p>
      </div>
      <div class="create_account">
        <h2>Join new to get upto 20 Honey Coin!</h2>
        <a href="#">Create account</a>
        <a href="#">Sign in</a>
      </div>
    </section>
