<section class="container">
  <div class="row">
    <div class="col-lg-5 col-0">
    </div>
    <div class="col-lg-7 col-12">
      <h1>Language</h1>
      <div>Sit non maxime fugit nostrum corporis Labore nesciunt ad assumenda deserunt dolore amet Cupiditate natus dolorum debitis explicabo minus. Consectetur libero sapiente corporis hic hic. Laboriosam et consequatur saepe cumque</div>
<div>Dolor ipsam quasi recusandae earum quibusdam corporis libero. Nisi distinctio quisquam provident omnis eligendi? Non repellendus et debitis ipsa placeat odio delectus Corporis voluptates exercitationem nam ut sit? Aliquid nemo.</div>
<div>Sit ab voluptatibus atque ad molestias Voluptatem qui totam eveniet illo minima earum. Quae tenetur placeat aut omnis impedit, vitae. Sint molestiae commodi odit et iusto perferendis? Ex voluptatem totam?</div>

    </div>
  </div>
</section>
