<div class="col-lg-6 mx-auto col-12">
  <span class="h3 d-flex justify-content-center align-items-center"><h5><%= t('.sell') %> </h5> <h1 class="mx-3"><%= @currency.name %></h1></span>
  <%= render 'shared/sell_or_buy_currency', order: @order, amount: @amount, currencies: @currencies, currency: @currency%>
</div>