<ul class="list-group">
  <% currencies.each do |currency| %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>
      <%= currency.name %>
    </span>
    <span>
      <%= currency.latest_prices.last.price %>
    </span>
    <span>
      <%= link_to t('.buy'), exchange_path(currency.codename), class: 'btn btn-primary btn-sm' %>
      <%= link_to t('.sell'), sell_exchange_path(currency.codename), class: 'btn btn-primary btn-sm' %>
    </span>
  </li>
<% end %>
</ul>
