<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% currencies.each do |currency| %>
    <tr>
      <td><%= currency.name %></td>
      <td><%= currency.last_rate %></td>
      <% if current_user.status %>
      <td><%= link_to 'BUY', exchange_path(currency) %></td>
      <% else %>
      <td><%= link_to 'BUY', edit_confirmation_letter_path(current_user) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
