<footer class="bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <ul class="navbar-nav d-flex mx-auto">
        <li class="nav-item">
          <%= link_to t('.career'), career_path,class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('.legal_&_privacy'),legal_path, class: 'nav-link' %>
        </li>
        <li class="nav-item"><p class="nav-link disabled">©2020 Maibee</a></li>
        <li class="nav-item">
          <%= link_to t('.language'),language_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('.need_help?'),help_path, class: 'nav-link' %>
        </li>
      </ul>
    </nav>
  </div>
</footer>
