    <footer>
      <nav>
        <ul>
          <li>Home</li>
          <li>Careers</li>
          <li>Legal & Privacy</li>
          <li>2019 Maibee</li>
          <li>Language</li>
          <li>Need Help?</li>
        </ul>
      </nav>
    </footer>
