<footer class="bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="navbar-nav d-flex mx-auto footer-bar">
        <div class="nav-item footer-item nav-link disabled">©2020 Maibee</div>
        <div class="nav-item footer-item ">
        <%= link_to "中文版", {:controller => params[:controller], :action => params[:action], :locale => "zh-TW"},class: 'nav-link'%>
        </div>
        <div class="nav-item footer-item ">
        <%= link_to "English", {:controller => params[:controller], :action => params[:action], :locale => "en"},class: 'nav-link'%>
        </div>
      </div>
    </nav>
  </div>
</footer>
