<footer class="bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <ul class="navbar-nav d-flex mx-auto">
        <li class="nav-item"><p class="nav-link disabled">©2020 Maibee</a></li>
      </ul>
    </nav>
  </div>
</footer>
