<table>
    <thead>
      <tr>
        <td>幣別</td>
        <td>數量</td>
        <td>單價</td>
        <td>總價</td>
      </tr>
    </thead>  
    <tbody> 
      <% limit_orders.each do |order|%>
        <tr>
          <td><%= order.currency[:name]%></td>
          <td><%= order.amount%></td>
          <td><%= order.sell_price%></td>
          <td><%= order.price%></td>
        </tr>
      <% end %>
    </tbody>
  </table>