<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">
    Profile
  </button>
  <%= link_to 'Orders', orders_path, class: 'list-group-item list-group-item-action' %>
  <%= link_to 'User Info', edit_user_registration_path, class: "list-group-item list-group-item-action" %>
  <%= link_to 'Transfers', transfers_path, class: "list-group-item list-group-item-action" %>
  <button type="button" class="list-group-item list-group-item-action">Account info</button>
</div>
