<div class="list-group">
  <% @orders.each do |order| %>
    <%= render 'order', order: order %>
  <% end %>
  <% if @order == nil %>
    <h1 class="h4"><%= t('.no_order_yet') %></h1>
  <% end %>
</div>
