<section class="wallet">
  <div class="launch_special container text-xl-center">
    <h1>Wallet info</h1>
    <table class="mx-auto table col-lg-6">
      <% @wallets.each do |wallet| %>
      <tr>
        <td><%= wallet.name %></td>
        <td><%= wallet.amount %></td>
        <td><%= link_to 'Buy', '#' %></td>
      </tr>
    <% end %>
    </table>
  </div>
</section>
