<section class="wallet">
  <div class="launch_special container text-xl-center">
    <h1>Wallet info</h1>
    <table class="mx-auto table col-lg-6">
      <tr>
        <td>NTD:</td>
        <td><%= @wallet.ntd %></td>
      </tr>
      <tr>
        <td>XPR:</td>
        <td><%= @wallet.xpr %></td>
      </tr>
      <tr>
        <td>Honey:</td>
        <td><%= @wallet.honey %></td>
        <td><%= link_to 'Buy', exchange_path(currency: 'honey') %></td>
    </table>
  </div>
</section>
