.logo{
  width: 25px;
}
main>*:first-child{
  padding-top: 30px;
}
.introduction{
  height: 60vh;
  color: white;
  line-height: 4;
}
.create_account{
  line-height: 0;
}
.price{
  position: relative;
  top: 0px;
  border-radius: 5px;
  background-color: #fff;
}
.invite{
  background: linear-gradient(#22445E, #22445E, #22445E, #32546E, #5DB7FC);
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
    top: 120%;
  }
.price{
  top: -50px;
}
}

