h1, h2, h3, h4, h5{
  font-size: 70%;
}
main>*:first-child{
  padding-top: 30px;
}
.launch_special{
}
.introduction{
  height: 60vh;
  color: white;
  line-height: 4;
}
.create_account{
  line-height: 0;
}
.price{
  position: relative;
  top: 0px;
  border-radius: 5px;
  background-color: #fff;
}
footer{
  margin-top: 50px;
}
.bottem_footer{
  position: fixed;
  bottom:0;
  left: 0;
  right:0;
}
@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
    top: 120%;
  }
h1, h2, h3, h4, h5{
  font-size: 100%;
}
.price{
  top: -50px;
}
}
