
main > :first-child{
  padding-top: 20px;
}

.logo{
  width: 25px;
}
.invite{
  background: url('../images/space.jpg');
}
.price{
  top: -20px;
}
.demo{
  right: 0;
  bottom: 0;
  width: 18em;
}

.notification{
  color: red;
}

.currency_image{
  height:30px; 
  width: 30px;
  margin-right: 10px;
  display: inline-block;
}
.no_img{
  text-align: center;
  border-radius: 999em;
  background-color: salmon;
  margin-right: 5px;
}
.account_balance{
  height: 30px;
}
@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
    top: 120%;
  }
  .price{
    top: -50px;
  }
}

