
main > :first-child{
  padding-top: 20px;
}

.logo{
  width: 25px;
}
.invite{
  background: url('../images/space.jpg');
}
.price{
  top: -20px;
}
.demo{
  right: 0;
  bottom: 0;
  width: 18em;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
    top: 120%;
  }
  .price{
    top: -50px;
  }
}

