<h1>Hi! <%= current_user.first_name %> <%= current_user.last_name %></h1>

<div>
  <p>Maibee: <%= current_user.first_name%> is your varification code.</p>
  <br>
  <p>Please dno't share with anyone</p>
</div>