<div class="col-md-4 col-12 mx-auto">
  <h1 class="h4 text-center"><%= t('.new_limit_order') %></h1>

  <%= render 'shared/create_limit_order', currencies: @currencies_to_trade, account_balance: @account_balance %>  
  <%= render 'shared/notice'%>
</div>