  <section class="container">
    <div class="row">
      <div class="jumbotron shadow bg-light mx-auto">

          <h1 class="display-4">Maibee launch special</h1>
          <h2 class="display-6">Register now and get <em class="text-warning">20 Honey Coin</em> for free</h2>
        <hr class="my-4">
        <p>New member who is registered before 2020 May will get 10 Honey Coin.</p>
        <p>New member who made a first transaction will receive another 10 Honey Coin!</p>
        <a href="#">Go to invitation page</a>


      </div>
    </div>

  </section>
