  <section class="container">
    <div class="row">
      <div class="jumbotron shadow bg-light mx-auto">
          <h1 class="display-4"><%= t('.maibee_launch_special') %></h1>
          <h2 class="display-6"><%= t('.register_now_and_get') %> <em class="text-warning">200 HoneyPoints</em> <%= t('.for_free') %></h2>
        <hr class="my-4">
        <p><%= t('.promo') %></p>
      </div>
    </div>
  </section>
