<h1>invite</h1>
<h1>Maibee launch special</h1>
<h2>Register now and get 20 Honey Coin for free</h2>
<p>New member who is registered before 2020 May will get 10 Honey Coin.</p>
<p>New member who made a first transaction will receive another 10 Honey Coin!</p>
